@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap');
*{font-family: "Balsamiq Sans", cursive;}
*{font-size: large;}

.Background-large {
  /* background-image: url('share/background.jpg'); */
  background-color: rgb(43, 138, 43);
  width: 100%;
  height: 100%;
}
h1 {
  color: whitesmoke;
  text-align: left;
  margin-left: 5%;
  font-size: medium;
  font-size: 200%;
}

table, td, th {
  border: 1px solid;
}

table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
}

.Background {
  background: rgb(0, 34, 0);
  margin-left: 5%;
  width: 50%;
  border: 2px solid;
  color: rgb(252, 252, 252);
}

/* Layer one */
.FirstLayer {
  display: flex;
  justify-content: space-evenly;
  margin-left: 5%;
  margin-right: 5%;
}

.Name {
  text-align: left;
  margin-top: 3%;
}

.NameInput {
  background-color: dimgray;
  color: whitesmoke;
  margin-top: 5%;
  width: 100%;
}

.Country {
  margin-top: 3%;
  height: 10%;
}

.To {
  text-align: center;
}

input {
  border: 1px solid black;
  padding: 5px;
  color: whitesmoke;
  background-color: dimgray;
  border-radius: 10px;
}

.Type {
  margin-left: 5%;
  margin-top: 2%;
}

select {
  margin-left: 20px;
  border-radius: 5px;
}

.FromInput {
  border: 1px solid black;
  margin-top: 5%;
  color: whitesmoke;
  height: 30px;
  background-color: dimgray;
  width: 100%;
}

.ToInput {
  border: 1px solid black;
  margin-top: 5%;
  color: whitesmoke;
  height: 30px;
  background-color: dimgray;
  width: 100%
}

.TripType {
  margin-top: -9%;
  align-items: left;
  margin-left: 14%;
}

.Passengers {
  margin-top: 5%;
  /* margin-left: 2%; */
  display: flex;
  justify-content: space-evenly;
}

.Date {
  display: flex;
  margin-top: 5%;
  justify-content: center;
}

.DepartureInput {
  width: 100%;
}

.ArrivalInput {
  width: 100%;
}

.Arrival {
  margin-left: 10%;

}

.Display {
  background-color: rgb(161, 161, 2);
  margin: 5%;
}

.button {
  margin-top: 5%;
  justify-content: end;
  margin-left: 80%;
  border-radius: 10px;
  margin-bottom: 5%;
  color: whitesmoke;
  background-color: midnightblue;;
}

arrival-box {
  background-color: null;
  color: null;
  border: null;
  display: flex;
}
